body {
  font-family: sans-serif;
  background-color: #101010;

  /* Horizontal and vertical center */
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.calculator {
  border: 5px solid #212121;
  background-color: #010101;
  height: 580px;
  width: 320px;
  border-radius: 20px;
}

.exp-input {
  font-family: sans-serif;
  font-size: 23px;
  background-color: #010101;

  width: 299px;
  height: 80px;
  padding: 0 0.45em;
  margin-top: 10px;
  border: none;
  border-radius: 20px 20px 0 0;

  overflow: auto;

  caret-color: #94fc13;
  outline: none;
  text-align: right;
}

.output {
  color: #9b9b9b;
  font-size: 23px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 7%;
  margin: 5px 6.5%;
}

.controls {
  height: 5%;
  margin-bottom: 1.2em;
}

.btn-control {
  font-size: 1.2em;
  margin: 1px 1.35em;
  padding: 0;
  float: left;
  color: #93fc13be;
  background-color: inherit;
  border: none;
}

.btn-control:hover {
  cursor: pointer;
  opacity: 0.85;
}

/* Button click effect */
.btn-control:active {
  padding: 0.75px;
}

#history {
  float: left;
}

.history-main-div {
  position: absolute;
}

.history-div {
  color: #fafafa;
  background-color: #010101;
  font-family: sans-serif;
  font-size: 20px;

  position: relative;
  width: 301px;
  height: 267px;
  padding: 10px;
  outline: none;

  overflow-y: auto;
}

.empty-history-message {
  font-size: small;
  opacity: 0.85;
  border: 4px solid #212121;
  border-radius: 10px;

  padding: 12px 10px;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 25%;
}

.history-calculation-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: 18px;
  margin-bottom: 18px;
}

.history-calculation {
  font-size: 18px;
  cursor: pointer;
}

.history-answer {
  color: #93fc13be;
}

.delete-calculation-btn {
  font-size: 1rem;
  color: white;
  background-color: inherit;

  display: grid;
  justify-content: end;
  margin: auto 0.5em auto 1em;
}

.delete-calculation-btn:hover {
  color: #dc3545;
  cursor: pointer;
}

.delete-calculation-btn:active {
  font-size: 0.95rem;
}

.clear-history-div {
  background-color: #010101;

  display: flex;
  justify-content: center; /* Horizontally centered */
  align-items: center; /* Vertically centered */

  width: 321px;
  height: 74px;
  border-radius: 0 0 17px 17px;
}

.clear-history-btn {
  color: #fafafa;
  background-color: #427e04;
  font-weight: bold;
  font-size: 18px;

  width: 185px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
}

.clear-history-btn.hover:hover {
  cursor: pointer;
  opacity: 0.85;
}

.clear-history-btn.active:active {
  font-size: 17px;
}

#backspace {
  float: right;
}

.keyboard {
  margin-top: 1.2em;
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em 0.25em;
  justify-items: center;
}

.btn-calc {
  height: 60px;
  width: 60px;
  border: none;
  padding: 10px;
  background-color: #212121;
  color: #fafafa;
  border-radius: 50%;
  font-size: 1.5em;
}

.btn-calc:hover {
  cursor: pointer;
  background-color: #343434;
}

/* Button click effect */
.btn-calc:active {
  font-size: 1.3em;
}

#clear {
  color: #ff4c29;
}

.operator,
#parenthesis {
  color: #94fc13;
}

#negate {
  font-size: 1.3em;
}

/* Button click effect */
#negate:active {
  font-size: 1.2em;
}

#equals {
  color: #fafafa;
  font-weight: bold;
  background-color: #427e04;
}

#equals:hover {
  opacity: 0.85;
}
